blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comtypes==1.4.10
decorator==5.2.1
Flask==3.1.0
flask-cors==5.0.1
grpcio==1.71.0
gTTS==2.5.4
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
moviepy==2.1.2
numpy==2.2.4
pillow==10.4.0
proglog==0.1.10
protobuf==5.29.4
psutil==7.0.0
pyasn1==0.6.1
pydub==0.25.1
pypiwin32==223
python-dotenv==1.1.0
pyttsx3==2.98
pywin32==310
requests==2.32.3
rsa==4.9
tqdm==4.67.1
urllib3==2.3.0
Werkzeug==3.1.3
